@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nanum;
  src: url('./assets/fonts/NanumMyeongjo.ttf');
}
:root ,html, body {
  overflow-x: hidden;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}